<?xml version="1.0" encoding="UTF-8"?>
<Content name="system.design.frame" update_date="20141209154356">
   <TreeView _uuid2="71202174-098f-48b0-ad14-024064f85750" name="content.design.frame" label="M#12cn18内容-设计-页面" is_valid="Y" note="M#" is_config="N" disp_checked="N" service="catalog@cloud.describe.persistence">
      <TreeNodeType name="package" code="Package" label="包" is_valid="Y" note="" icon="system.design.persistence.package" action="list"/>
      <TreeNodeType name="persistence" code="Persistence" label="序列化" is_valid="Y" note="" icon="system.design.persistence.persistence" action="list"/>
      <TreeNodeType name="component" code="Component" label="组件" is_valid="Y" note="" icon="system.design.persistence.component" action="list"/>
      <TreeNodeType name="interface" code="Interface" label="接口" is_valid="Y" note="" icon="system.design.persistence.interface" action="list"/>
      <TreeNodeType name="attribute" code="Attribute" label="属性" is_valid="Y" note="" icon="system.design.persistence.attribute" action="list"/>
   </TreeView>
</Content>
