body {
  background: #edeef0;
  font-family: 'Microsoft YaHei', 'Hiragino Sans GB', Helvetica, Arial, 'Lucida Grande', sans-serif;
  background: url(../images/login/bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo {
  width: 20.833333333333332rem;
}
.wap-main {
  height: 25rem;
  background-image: url(../images/login/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20.833333333333332rem;
  position: relative;
}
.wap-box {
  broder: 2px solid #f96;
  background-image: url(../images/login/5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21.666666666666668rem 9.166666666666666rem;
  height: 9.166666666666666rem;
  width: 21.666666666666668rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5rem;
  margin-top: -5rem;
}
.details-container {
  padding: 1.0416666666666667rem 1.0416666666666667rem 0rem 0.8333333333333334rem;
  text-align: left;
}
.details-container p {
  background-image: url(../images/login/4.png);
  background-repeat: no-repeat;
  background-position: 4.375rem center;
  background-size: 10.416666666666666rem 2.5833333333333335rem;
  line-height: 2.5rem;
  height: 2.5rem;
  position: relative;
}
.details-container p input {
  position: absolute;
  background: none;
  width: 9.583333333333334rem;
  height: 1.9166666666666667rem;
  margin-left: 0.75rem;
  border: 0 none;
  top: 0.2916666666666667rem;
  color: #fff;
  font-size: 0.8333333333333334rem;
}
.details-container p b {
  color: #36e4fc;
  font-size: 1.3333333333333333rem;
}
.details-container p b i {
  opacity: 0;
}
.details {
  font-size: 1.0833333333333333rem;
  color: #36e4fc;
  position: relative;
  padding-left: 2.0833333333333335rem;
  line-height: 2.5rem;
  height: 2.5rem;
}
.details input {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 0.16666666666666666rem;
  left: 0.4166666666666667rem;
  background: none;
  border: 1px solid #3cddff;
}
.btn-container {
  position: absolute;
  top: -1rem;
  right: -4.166666666666667rem;
  display: block;
  width: 10.416666666666666rem;
  height: 10.416666666666666rem;
  background-image: url(../images/login/2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10.833333333333334rem;
}
.btn-container:active {
  background-image: url(../images/login/3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10.833333333333334rem;
}
.btn-container input {
  width: 100%;
  height: 100%;
  background: none;
  border: 0 none;
}
/*.wap-logo img{
	width: 150px;
}
.wap-box-container{
	padding: 0px 20px;
}
.wap-title{
	color:#a8a8aa;
	background-image: url(../images/icon_0.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 24px;
	height: 30px;
	padding-left: 28px;
	font-size: 20px;
	line-height: 34px;
}
.wap-title.password{
	background-image: url(../images/icon_1.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 24px;
}
.wap-main p.content{
	display: block;
	border-bottom: 2px solid #f3f3f4;
	height: 38px;
	margin-bottom:10px;
}

.wap-main p.content input{
	border:none;
	height: 34px;
	font-size: 16px;
	line-height: 34px;
	width: 100%;
}
.wap-btn input{
 border:none;
  margin-top: 30px;
  display: block;
  background-color: #1879bd;
  line-height: 54px;
  border: none;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
}*/
.wap-footer {
  display: inline;
  text-align: center;
  font-size: 14px;
  color: #3d6aa3;
}
.wap-footer a {
  color: #3d6aa3;
  display: block;
}
/*提示*/
.ico-pop-wrong {
  display: block;
  position: relative;
  width: 28px;
  height: 28px;
  margin: 10px auto;
  background: #3cddff;
  border-radius: 50%;
}
.ico-pop-wrong:after,
.ico-pop-wrong:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  display: inline-block;
  background: rgba(0, 0, 0, 0.8);
}
.ico-pop-wrong:before {
  width: 4px;
  height: 10px;
  margin: 6px 0 0 -2px;
}
.ico-pop-wrong:after {
  width: 4px;
  height: 4px;
  margin: 18px 0 0 -2px;
}
.popBox {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 180px;
  height: 100px;
  padding: 10px;
  margin: -60px 0 0 -100px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  border: 2px solid #3cddff;
  background: #06131e;
  border-radius: 10px;
}
.ico-pop-err {
  display: block;
  position: relative;
  width: 28px;
  height: 28px;
  margin: 10px auto;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ico-pop-err-h,
.ico-pop-err-v {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
}
.ico-pop-err-h {
  left: 50%;
  top: 50%;
  width: 16px;
  height: 4px;
  margin-top: -2px;
  margin-left: -8px;
}
.ico-pop-err-v {
  width: 4px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  margin-top: -8px;
}
.tip {
  font-size: 16px;
  color: #3cddff;
}
