body{
	width: 100%;
}
.nav-container{
	transition: transform 0.3s ease-in-out;
	-webkit-transform: translate3d(-40%, 0, 0);
	transform: translate3d(-40%, 0, 0);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40%;
	/*height: 100%;*/
	background:rgba(10, 8, 8, 0.53);
}
.nav-container[details=slidebar]{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.nav-container ul{
	/*padding-top: 60px;*/
	background:#C0BDBD;
	/*height: 100%;*/
	-webkit-box-shadow:0 0 10px rgba(98, 105, 105, 0.5);  
	-moz-box-shadow:0 0 10px rgba(98, 105, 105, 0.5);  
	box-shadow:0 0 10px rgba(98, 105, 105, 0.5); 
}
.nav-container ul li{
	/*background:#fff;
	line-height: 60px;
	font-size: 20px;
	text-align: center;*/
}
.main-container{
	transition: transform 0.3s ease-in-out;
	width: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.main-container[details=slidebar]{
	-webkit-transform: translate3d(40%, 0, 0);
	transform: translate3d(40%, 0, 0);
}
.main-container header{
	position: relative;
	height: 46px;
	background: #1879bd;
	text-align: center;
	line-height: 46px;
	color:#fff;	
	font-size: 18px;

}
.btn-list {
  position: absolute;
  left: 2%;
  top: 7px;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background: url(../images/icon_03.png) no-repeat center center;
  background-size: 26px;
  display: none;
}
/*.btn-list:before {
	content: "";
	margin-top: 24px;
	width: 26px;
	height: 3px;
	background-color: #fff;
	display: inline-block;
	box-shadow: 0 10px 0 #fff, 0 -10px 0 #fff;
}
*/
.header-r{
	position: absolute;
	width: 34px;
	height: 34px;
	border-radius: 17px;
	overflow: hidden;
	text-align: center;
	right: 3%;
	top:7px;
	/*background: #F96;*/
}
.header-r img{
	width: 100%;
	height: 100%;
}
.header-list{
	position: absolute;
	right:2%;
	top:50px;
	z-index: 2;
	background: #fff;
	border-radius: 5px;
	padding: 4px;
	display: inline-block;
	text-align: left;
	font-size: 16px;
	padding: 5px 10px 0px 10px;
	 animation-duration: 0.5s;
	 display: none;
}
.header-list:after
{ 
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  right: 10px;
  top: -8px;

}
.header-list span{
	 color:#666;
	 display: inline-block;
	 height: 24px;
	 font-size: 15px;
	 line-height: 24px;
}

.header-list p{
	 color:#000;
	 height: 26px;
	 line-height: 26px;
}
.header-list li{
	background-image: url(../images/icon4.png);
	background-position: 0px center;
	background-repeat: no-repeat;
	color:#666;
	 height: 38px;
	 line-height: 38px;
	 padding-left: 20px;
	 border-top:1px solid #999;
}
.header-list li.binding-icon{
	background-image: url(../images/binding-icon.png);
	background-position: 0px center;
	background-repeat: no-repeat;
	background-size: 17px;
}

.banner{
	width: 100%;
	position: relative;
}
.banner img{
	width: 100%;
	height:180px;
}

.banner .bd{
 width: 100%;
}
.banner .bd ul{
	width: 3000px;
}
.banner .bd ul li{
	display: inline-block;
}
.banner .hd{
	display: block;
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
}
.banner .hd li{
	display: inline-block;
	width: 10px;
	height: 10px;
	color:rgba(255, 255, 255, 0);
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.50);
	margin: 0px 5px;
}
.banner .hd li.on{
	background-color: #fff;
}
.details-container{
	padding: 0px 4%;
	background-color: #fff;
	padding-bottom: 30px;
}
.details-container ul{
	margin:10px 0px;
	
}
.details-container li{	
  position: relative;
 /* -webkit-box-shadow:0 0 10px rgba(98, 105, 105, 0.5);  
  -moz-box-shadow:0 0 10px rgba(98, 105, 105, 0.5);  
  box-shadow:0 0 10px rgba(98, 105, 105, 0.5); */
  display: block;
  width: 100%;
  /*padding: 1%;*/
  background-color: #fff;
  margin-top: 10px;
  background-image: url(../images/icon-r.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: right 10px;
}
.details-container ul p{
	padding: 10px;
	color:#000;
	padding-left:28px;
	font-size: 14px;
	background-image: url(../images/icon1.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 18px;
	/*background-color: #fff;*/
	padding-left: 21px;
	/*margin-bottom: 4px;*/
}
.details-container ul p.icon2{
	background-image: url(../images/icon2.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 18px;
}
.details-container ul p.icon3{
	background-image: url(../images/icon3.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 18px;
}


.details-container ul li span{
	position: absolute;
	bottom: 20px;
	display: inline-block;
	padding: 5px 10px;
	background: rgba(0, 0, 0, 0.54);
	left:10px;
	color:#fff;
	border-radius: 5px;
}
.details-container ul li img{
	width: 100%;
}
.shadow{
	position:fixed;
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.2);
	top:0px;
	left:0px;
	z-index: 1;
	display: none;
}
.binding-details{

}
.binding-container{
	background-color: #fff;
}
.fieldsItem {
  margin: 10px 0 0 0;
}
.fieldsItemRibbon {
  position: relative;
  height: 44px;
  padding: 0 15px;
  background: #fff;
  font-size: 0;
  /*border: 1px #D9D9D9 solid;*/
  border-bottom: 1px #D9D9D9 solid;
}
.fieldsItem label, .fieldInput {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-style: normal;
}
.fieldInput {
  border: none;
  background: #fff;
  height: 100%;
  /* margin: 0 0 0 2px; */
}
.btnGetCode {
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  height: 30px;
  /*line-height: 30px;*/
  /*width: 92px;*/
  min-width: 88px;
  font-size:13px;
  border: none;
  margin: -15px 0 0 0;
  background: #f5f5f5;
  color: #323232;
  border:1px solid #cdcdcd;
  border-radius: 4px;

}
.btnGetCode [disabled=disabled]{
	background: #cdcdcd;
}
.wap-btn{
	display: inline-block;
	width: 100%;
}
.wap-btn input{
  border: none;
  display: block;
  background-color: #1879bd;
  line-height: 50px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  width: 92%;
  margin: 20px auto;
}
.error{
	color:red;
	background:url(../images/png.png) no-repeat 10px center;
	background-size: 16px;
	margin-top: 10px;
	font-size: 14px;
	padding: 0px 0px 0px 32px
}
.return-img{
	position: absolute;
	left:10px;
	top:10px;
	width: 27px;
}
