/mo-1-common/bin
/mo-2-core/bin
/mo-3-logic/bin
/mo-4-web/bin

/.metadata
/mt-server/tomcat-cloud.manage-windows-8.0.9-x64/logs
/mt-server/tomcat-cloud.manage-windows-8.0.9-x64/work
/mt-server/tomcat-cloud.service-windows-8.0.9-x64/logs
/mt-server/tomcat-cloud.service-windows-8.0.9-x64/work
/mp-cloud-service/webroot/WEB-INF/classes
/mp-cloud-manage/webroot/WEB-INF/classes
/mt-temp/mp-cloud-manage
/mt-temp/mp-cloud-service
