/.metadata
/.recommenders
/RemoteSystemsTempFiles
/mo-1-common/bin
/mo-2-core/bin
/mo-3-logic/bin
/mo-4-web/bin
/mo-5-cloud/bin
/mo-6-content/bin
/mo-6-eai-content/bin
/mo-7-utility/bin
/mo-lib-lzma/bin
/mp-cloud-develop/webroot/WEB-INF/classes
/mp-cloud-develop/webroot/WEB-INF/lib
/mp-cloud-design/webroot/WEB-INF/classes
/mp-cloud-design/webroot/WEB-INF/lib
/mp-cloud-content/webroot/WEB-INF/classes
/mp-cloud-content/webroot/WEB-INF/lib
/mp-cloud-storage/webroot/WEB-INF/classes
/mp-cloud-storage/webroot/WEB-INF/lib
/mp-cloud-logger/webroot/WEB-INF/classes
/mp-cloud-logger/webroot/WEB-INF/lib
/mp-develop-logger/webroot/WEB-INF/classes
/mp-develop-logger/webroot/WEB-INF/lib
/mp-eai-batch/webroot/WEB-INF/classes
/mp-eai-batch/webroot/WEB-INF/lib
/mp-eai-content/webroot/WEB-INF/classes
/mp-eai-content/webroot/WEB-INF/lib
/mp-eai-service/webroot/WEB-INF/classes
/mp-eai-service/webroot/WEB-INF/lib
/mt-server/tomcat-cloud.develop/logs
/mt-server/tomcat-cloud.design/logs
/mt-server/tomcat-cloud.content/logs
/mt-server/tomcat-cloud.storage/logs
/mt-server/tomcat-cloud.logger/logs
/mt-server/tomcat-develop.logger/logs
/mt-server/tomcat-eai.batch/logs
/mt-server/tomcat-eai.content/logs
/mt-server/tomcat-eai.service/logs
/mt-database
/mt-storage
/mt-temp
