/* ------------------------------------------------------ */
/* Html                                                   */
/* ------------------------------------------------------ */
html{
   width:100%;
   height:100%;
}

/* ------------------------------------------------------ */
/* Body                                                   */
/* ------------------------------------------------------ */
body {
   width: 100%;
   height: 100%;
   margin: 0px;
}

/* ------------------------------------------------------ */
/* Workspace                                              */
/* ------------------------------------------------------ */
.Workspace_Title{
   color:#FFADA0;
   font-size:12pt;
   font-weight:bold;
}
