html,body  
{  
    width:100%;  
    height:100%;  
} 
body{ 
	background: #edeef0;
	font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;
	min-width: 1024px;
	background: url(../images/main/new3.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#form{
  width: 100%;
  height: 100%;
}
.clear{ clear:both} 
.pl-10{
	padding-left: 10px;
}
.pl-15{
	padding-left: 15px;
}
.pl-25{
	padding-left: 25px;
}
.pl-30{
	padding-left: 30px;
}
.pt-10{
	padding-top: 10px;
}
.mr-20{
	margin-right: 20px;
}
.mt-10{
	 margin-top: 10px;
}
#header{
	height: 100px;
}
.header{
	background: url(../images/main/bor.png) no-repeat center bottom;
	overflow: hidden;
	height: 100px;
}
.head-left{
	float:left;
	position: relative;
}
.logo{
	padding-left: 15px;
	position: absolute;
	left: -4px;
	cursor: default;
	top: 9px;
	width: 494px;
}
#container_details{
	display: block;
}
.main-left{
	overflow: hidden;
	position: relative;
}
.main-right{
	width: 19%;
	/*background:#CBCBCB;*/
	overflow: hidden;
	background: url(../images/main/new13.png) no-repeat left center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.loding{
	display: inline-block;
	left: 50%;
	top:50%;
	width: 400px;
	position: absolute;
	margin-left: -150px;
	margin-top: -110px;
}
.head-left span{
	display:inline-block;
	height: 56px;
	background:#1879bd;
	width: 130px;
	color:#fff;
	font-size: 22px;
	line-height: 56px;
	text-align: center;
}
.head-left p{
	display: inline-block;
	color:#000;
	line-height: 56px;
	font-size: 16px;
	padding-left:280px;
}
.head-right{
	float:right;
	font-size: 16px;
	position: relative;
	
}
.user-details{
	display:inline-block;
	position: relative;
	height: 100px;
	line-height: 100px;
	margin-right: 100px;
	position: relative;
	padding: 0px 15px;
	cursor:pointer;
	color:#25e2ff;
	font-size:24px;
	font-weight: bold;
}
.user-details img{
	position: absolute;
	top:45px;
	right: -3px;
	transition: all 500ms ease;
	transform-style: preserve-3d;
	-moz-transform:rotate(180deg); 
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);

}
.user-details:hover img{
	-moz-transform:rotate(0deg); 
	-webkit-transform:rotate(0deg);
	transform:rotate(0deg);
}
.user-details i{
	display: none;
	width: 18px;
	height: 18px;
	position: absolute;
	background: #f39800;
	text-align: center;
	line-height: 18px;
	border-radius: 9px;
	color:#fff;
    left: 0px;
    top: 14px;
    font-size: 14px;
}
.head-right b{
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  background: url(../images/main/new9.png) no-repeat center center;
  background-size: 100%;
  top: 20px;
  right: 28px;

}
.head-right .img-details{
  position: absolute;
  width: 53px;
  height: 53px;
  border-radius: 26px;
  overflow: hidden;
  display: inline-block;
  top: 23px;
  right: 11px;
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;

}
.head-right .img-details img{
	width: 100%;
	cursor:default ;
}
.users{
	position: absolute;
	display: none;
	right: 75px;
	cursor:pointer;
	z-index: 2;
	top:85px;
	width: 104px;
}
.return{
	min-width: 68px;
}
.users li.binding a{
	background-image: url(../images/main/new2.png);
	-moz-background-size: 16px;     
	-webkit-background-size: 16px;;      
	-o-background-size: 16px; 
	background-size: 16px;;    
	background-position: 8px center;
	background-repeat: no-repeat;
}
.users li a{
	color:#ff8e0a;
	padding: 10px 10px 10px 30px;
	display: block;
}
.users li a.exit{
	background-image: url(../images/main/new10.png);
	background-position: 8px center;
	background-repeat: no-repeat;
	background-size: 16px;
}
.users li{
	background-image:url(../images/main/new5.png);
	background-repeat: no-repeat;
	/*background-position: 10px center;*/
	color:#ff8e0a;
	/*background-color:  #fff;*/
    background-size: 105px 42px;
	font-size: 16px;
}
.users li:hover{
	background-image:url(../images/main/new6.png);
}

.imag-container{
	display: block;
	position: relative;
}

.imag-details{
 overflow: hidden;
}

#container_details ul{
}
.imag-details ul li{
	display: none;
	z-index: 0;
	width: 80%;
	padding:0px 10%; 

	display: inline-block;
	-webkit-animation-name: zoomIn;
	-moz-animation-name: zoomIn;
	-o-animation-name: zoomIn;
	animation-name: zoomIn;

	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	position: relative;
}
.imag-details ul li .icon{
	width: 100%;
	background: url(../images/main/player.png);
	background-repeat:no-repeat;
	background-size: 120px;
	background-position:center center;
	height: 100%;
	display:none;
	position: absolute;
	left:0px;
	top:0px;
	-webkit-animation-name: zoomInUp;
	animation-name: zoomInUp;
	-webkit-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-o-animation-duration: 500ms;
	animation-duration: 500ms;
}
.imag-details ul li:hover .icon{
	display: block;
	cursor:pointer;
}
.imag-details ul li img{
	width: 100%;
	cursor:pointer;
}
.imag-details ul li img:hover{
	/*background: #f96;*/
}
.imag-details span{
	color:#fff;
	display: none;
}
.titles-container{
	width:100%;
	/*height: 100%;*/
	text-align: center;
	/*position:relative;*/
}
.titles-container ul{
	/*position: absolute;*/
	/*border:1px solid red;*/
	top:0px;	
	/*left:50%;*/
	/*margin-left: -116px;*/
}
.titles-container li{
	background:url(../images/main/new11.png) no-repeat center center; 
	background-size: 250px;
	width: 230px;
	min-width:120px;
	height: 180px;
	display: block;
	margin: auto;
	cursor:pointer;
}
.titles-container li:hover{
	background:url(../images/main/new12.png) no-repeat center center; 
	background-size: 250px;
	
	display: block;
	cursor:pointer;
	-webkit-animation-name: pulse;
    animation-name: pulse;
  	-webkit-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-o-animation-duration: 500ms;
	animation-duration: 500ms;
}
.titles-container li img{
	width: 176px;
	padding-top: 10px;
	margin: 0 auto;
	display: block;
}
.titles-container li.on{
	background:url(../images/main/new12.png) no-repeat center center; 
	background-size: 250px;
	display: block;
}
.titles-container b{
  font-size: 15px;
  color: #36e4fc;
  display: block;
  padding-top: 22px;
}

.titles-container p{
	display: none;
	width: 40px;
	height: 150px;
}
.titles-container .play_prev{
}
.titles-container .play_next{
}
.prompt{
	position: absolute;
	top:0px;
	z-index: 2;
	text-align: center;
	width: 100%;
	-webkit-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-o-animation-duration: 500ms;
	animation-duration: 500ms;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
.prompt span{
	position: 10px;
	background:rgba(0, 0, 0, 0.60);
	display: inline-block;
	text-align: center;
	padding: 5px 15px;
    color: #fff;
}

.fot{
	width: 100%;
	text-align: right;
	font-size: 18px;
	color: #376095;
}
.fot p{
	padding-right: 10px;
}
@media all and (max-width: 1400px) {
	#header, .header{
		height: 75px;
	}
	.logo {
	  padding-left: 15px;
	  /*left: -4px;*/
	  top: 8px;
	  width: 362px;
	}
	.users{
		top:55px;
	}
	.user-details{
		height: 70px;
		line-height: 55px;
	}
	.user-details img {
	position: absolute;
	top:23px;
	right: -6px;
	}
	.head-right b {
	display: block;
	width: 44px;
	height: 44px;
	position: absolute;
	top: 5px;
	right: 28px;
	}
	.head-right .img-details{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	overflow: hidden;
	display: inline-block;
	top: 7px;
	right: 10px;

	}
}

