/*main*/
.imag-container{
	min-width: 1000px;
	width: 70%;
	margin: 30px;
	position: relative;
	min-height: 650px;
/*	background: url(../../ars/common/pc/bg.png) no-repeat left top;
	background-size: 100%;*/
	padding: 10px;
	background: url(../images/bg.png);
	background-position: center top;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	background-size: 100% 100%;
	float:left;
}
.imag-container table {
	width: 100%;
}
.imag-container table tr{
	text-align: center;
}
.imag-container tbody{
	width: 100%;
}
.title td{
	color:#23e2ff;
	font-size: 28px;
	padding: 18px;
	background: #040404;
	font-weight: bold;
	width: 100%;
}
.main-title td{
	color:#02b1f2;
	height: 40px;
	line-height: 40px;
	background: #182e39;
	/*font-weight: */
	font-size: 20px;
}
.imag-container .trs{
	color:#58f9e9;
	font-size: 16px;
	line-height: 34px;
	height: 34px;
}
/*.imag-container .trs a{
	background: url(../../ars/common/pc/nav.png) no-repeat center center;
	background-size: 100px 30px;
	display:inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color:#3ae6fe;
	margin:0px 10px;

}
.imag-container .trs a:hover{
	background: url(../../ars/common/pc/navhover.png) no-repeat center center;
	background-size: 100px 30px;
}*/
.pages{
	line-height: 30px;
	height: 30px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -150px;
}
.pages li{
	display: inline-block;
	color:#37e5ff;
	width: 100px;
	font-size: 20px;
}
.pages li a{
	color:#37e5ff;
}
.glass-cover{
	position: absolute;
	top:0px;
	left: 0px;
	width: 60%;
	text-align: left;
}
.glass-cover img{
	width: 100%
}
/*提示*/
.prompts{
	border:2px solid #d08937;
	background:#240606;
	color:#fedd38;
	font-size: 30px;
	font-weight: bold;
	height: 200px;
	width: 350px;
	/*line-height: 200px;*/
	text-align: center;
	border-radius: 20px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-175px;
	margin-top:-100px;
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing;
	-webkit-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-o-animation-duration: 500ms;
	animation-duration: 500ms;
	display: none;
}
#Content{
    height:650px;
    /*此处对容器设置了高度，一般不建议对容器设置高度，一般使用overflow:auto;属性设置容器根据内容自适应高度，如果不指定高度或不设置自适应高度，容器将默认为1个字符高度，容器下方的布局元素（footer）设置margin-top:属性将无效*/
    margin-top:20px;/*此处讲解margin的用法，设置content与上面header元素之间的距离*/
    
     
}
#Content-Left{
    height:650px;
    width:200px;
    margin: 30px;/*设置元素跟其他元素的距离为20像素*/
    float:left;/*设置浮动，实现多列效果，div+Css布局中很重要的*/
   
}
#Content-Up{
    height:100px;
    width:100px;
    margin:100px;	
	 float:left;
	 border:3px solid #8000ff;
	 display: table-cell;
	 text-align:center;
	 vertical-align:middle;
	 cursor:pointer;
	 overflow:hidden;
	 line-height:100px;
}
#Content-Down{
	height:100px;
   width:100px;
   margin:100px; 
   float:left;
   border:4px solid #8000ff;
   display: table-cell;
   text-align:center;
   vertical-align:middle;
   cursor:pointer;
   overflow:hidden;
   line-height:100px;
}
