<?xml version="1.0" encoding="UTF-8"?>
<Content>
   <TreeView name="design.persistence" label="设计-持久化-定义" is_valid="Y" note="" is_config="N" disp_checked="N" service="catalog@editor.design.persistence">
     <TreeNodeType name="package" code="Package" label="包" is_valid="Y" note="" icon="editor.design.list.package" action="list" />
     <TreeNodeType name="persistence" code="Persistence" label="持久化" is_valid="Y" note="" icon="editor.design.persistence.persistence" type="collection" action="list" attributes="property_frame=content.persistence.PersistenceForm" />
     <TreeNodeType name="component" code="Component" label="组件" is_valid="Y" note="" icon="editor.design.persistence.component" type="component" action="list" attributes="property_frame=content.persistence.ComponentForm" />
     <TreeNodeType name="interface" code="Interface" label="接口" is_valid="Y" note="" icon="editor.design.persistence.interface" type="component" action="list" attributes="property_frame=content.persistence.InterfaceForm" />
     <TreeNodeType name="attribute" code="Attribute" label="属性" is_valid="Y" note="" icon="editor.design.persistence.attribute" type="component" attributes="property_frame=content.persistence.AttributeForm" />
   </TreeView>
</Content>
