/*main*/
.imag-container{
	min-width: 1000px;
	width: 70%;
	margin: 30px;
	position: relative;
	min-height: 650px;
/*	background: url(../../ars/common/pc/bg.png) no-repeat left top;
	background-size: 100%;*/
	padding: 10px;
	background: url(../images/bg.png);
	background-position: center top;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	background-size: 100% 100%;
}
.imag-container table {
	width: 100%;
}
.imag-container table tr{
	text-align: center;
}
.imag-container tbody{
	width: 100%;
}
.title td{
	color:#23e2ff;
	font-size: 28px;
	padding: 18px;
	background: #040404;
	font-weight: bold;
	width: 100%;
}
.main-title td{
	color:#02b1f2;
	height: 40px;
	line-height: 40px;
	background: #182e39;
	/*font-weight: */
	font-size: 20px;
}
.imag-container .trs{
	color:#58f9e9;
	font-size: 16px;
	line-height: 34px;
	height: 34px;
}
/*.imag-container .trs a{
	background: url(../../ars/common/pc/nav.png) no-repeat center center;
	background-size: 100px 30px;
	display:inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color:#3ae6fe;
	margin:0px 10px;

}
.imag-container .trs a:hover{
	background: url(../../ars/common/pc/navhover.png) no-repeat center center;
	background-size: 100px 30px;
}*/
.pages{
	line-height: 30px;
	height: 30px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -150px;
}
.pages li{
	display: inline-block;
	color:#37e5ff;
	width: 100px;
	font-size: 20px;
}
.pages li a{
	color:#37e5ff;
}
.glass-cover{
	position: absolute;
	top:0px;
	left: 0px;
	width: 60%;
	text-align: left;
}
.glass-cover img{
	width: 100%
}
/*提示*/
.prompts{
	border:2px solid #d08937;
	background:#240606;
	color:#fedd38;
	font-size: 30px;
	font-weight: bold;
	height: 200px;
	width: 350px;
	line-height: 200px;
	text-align: center;
	border-radius: 20px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-175px;
	margin-top:-100px;
}


