body {
  background: #edeef0;
  font-family: 'Microsoft YaHei', 'Hiragino Sans GB', Helvetica, Arial, 'Lucida Grande', sans-serif;
  background: url(../images/login/bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.font20 {
  font-size: 0.8333333333333334rem;
}
.font30 {
  font-size: 1.25rem;
}
.mt50 {
  margin-top: 2.0833333333333335rem;
}
.nav-container {
  position: absolute;
  width: 8.333333333333334rem;
  height: 100%;
  z-index: 9;
  background-image: url(../images/main/10.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  display: none;
}
.switch {
  position: absolute;
  z-index: 5;
  top: 1.25rem;
  right: 0.8333333333333334rem;
  text-align: right;
  width: 5rem;
  cursor: pointer;
}
.switch a {
  color: #25e2ff;
  line-height: 0.8333333333333334rem;
  font-size: 0.8333333333333334rem;
}
.nav-container[animation=true] {
  -webkit-animation-name: slideInLeft;
  -moz-animation-name: slideInLeft;
  -o-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  display: block;
}
.nav-container ul {
  padding-top: 2.3333333333333335rem;
}
.nav-container ul li {
  color: #ff914c;
  line-height: 2.0833333333333335rem;
}
.nav-container ul li img {
  width: 3.75rem;
  height: 3.75rem;
}
.nav-container ul p {
  line-height: 2.9166666666666665rem;
  color: #31b7d5;
}
.names {
  padding-bottom: 1.6666666666666667rem;
  background-image: url(../images/main/9.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}
.service {
  margin-top: 8.333333333333334rem;
}
.phone-container {
  color: #31b7d5;
}
.main-container {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.main-container[details=slidebar] {
  -webkit-transform: translate3d(40%, 0, 0);
  transform: translate3d(40%, 0, 0);
}
.main-container header {
  height: 3.3333333333333335rem;
  line-height: 3.3333333333333335rem;
  text-align: center;
  color: #3cddff;
  font-size: 1.25rem;
  background-image: url(../images/main/2.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
}
.header-r {
  position: absolute;
  width: 3.3333333333333335rem;
  height: 3.3333333333333335rem;
  overflow: hidden;
  text-align: center;
  left: 0rem;
  top: 0rem;
}
.header-r img {
  margin-top: 0.8333333333333334rem;
  width: 1.4583333333333333rem;
  height: 1.4583333333333333rem;
}
.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 12.5rem;
}
.banner .bd ul li {
  display: inline-block;
  width: 100%;
}
.banner .bd ul li img {
  width: 100%;
}
.banner .hd {
  display: block;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}
.banner .hd li {
  display: inline-block;
  width: 10px;
  height: 10px;
  color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0px 5px;
}
.banner .hd li.on {
  background-color: #fff;
}
.details-container {
  padding: 0px 1.25rem;
  padding-bottom: 30px;
}
.details-container ul {
  margin-top: 1.25rem;
  display: none;
}
.details-container ul[dynamic=true] {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  display: block;
}
.details-container ul.on {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
}
.details-container li {
  display: block;
  width: 100%;
  position: relative;
  border-radius: 0.16666666666666666rem;
  border: 0.20833333333333334rem solid #3cddff;
  min-height: 12.5rem;
}
.details-container ul li .cover {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  height: 100%;
}
.details-container ul li img {
  width: 100%;
}
.details-container ul p {
  background-image: -webkit-linear-gradient(45deg, #101c39, #0b466b);
  background-image: linear-gradient(45deg, #101c39, #0b466b);
  height: 2.0833333333333335rem;
  line-height: 2.0833333333333335rem;
  border: 0.20833333333333334rem solid #3489ac;
  border-radius: 0.4166666666666667rem;
  width: 20.833333333333332rem;
  margin: 0.4166666666666667rem auto;
  font-size: 1rem;
  text-align: center;
  color: #3cddff;
}
.details-container ul li span {
  position: absolute;
  bottom: 20px;
  display: inline-block;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.54);
  left: 10px;
  color: #fff;
  border-radius: 5px;
}
.shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  z-index: 1;
  display: none;
}
.footer {
  text-align: center;
  padding-bottom: 20;
  color: #376095;
}
